<IfModule mod_rewrite.c>
Options Indexes FollowSymLinks
RewriteEngine on

RewriteRule (APP_LANGUAGE)$ app_language.php [QSA,NC,L]
RewriteRule (REGISTER)$ register.php [QSA,NC,L]
RewriteRule (RESEND_OTP)$ resend_otp.php [QSA,NC,L]
RewriteRule (OTP_CONFIRM)$ otp_confirm.php [QSA,NC,L]
RewriteRule (FORGOT_PASSWORD)$ forgot_password.php [QSA,NC,L]
RewriteRule (LOGIN)$ login.php [QSA,NC,L]
RewriteRule (ADD_MEMBER)$ add_member.php [QSA,NC,L]
RewriteRule (FILTER)$ filter.php [QSA,NC,L]
RewriteRule (DOCTOR_LIST)$ doctor_list.php [QSA,NC,L]
RewriteRule (BOOK_CONSULTATION)$ book_consultation.php [QSA,NC,L]
RewriteRule (APP_NOTIFICATIONS)$ app_notifications.php [QSA,NC,L]
RewriteRule (PROFILE_UPDATE)$ profile_update.php [QSA,NC,L]
RewriteRule (SECOND_OPINION)$ second_opinion.php [QSA,NC,L]
RewriteRule (ORDER_MEDICINE)$ order_medicine.php [QSA,NC,L]
RewriteRule (ORDER_LAB_TESTS)$ order_lab_tests.php [QSA,NC,L]
RewriteRule (DOCTOR_SEARCH)$ doctor_search.php [QSA,NC,L]
RewriteRule (CONTACT_US)$ contact_us.php [QSA,NC,L]
RewriteRule (WALLET)$ wallet.php [QSA,NC,L]
RewriteRule (WALLET_PAYMENT)$ wallet_payment.php [QSA,NC,L]
RewriteRule (CONSULTATION_PAYMENT)$ consultation_payment.php [QSA,NC,L]
RewriteRule (CONSULTATIONS)$ consultations.php [QSA,NC,L]
RewriteRule (BLOGS)$ blogs.php [QSA,NC,L]
RewriteRule (HEALTH_FILES_UPDATE)$ health_files_update.php [QSA,NC,L]
RewriteRule (HEALTH_FILES_REPORTS)$ health_files_reports.php [QSA,NC,L]
RewriteRule (PHARMA_ORDERS)$ pharma_orders.php [QSA,NC,L]
RewriteRule (LAB_TEST_ORDERS)$ lab_test_orders.php [QSA,NC,L]
RewriteRule (USER_ADDRESS_ADD)$ user_address_add.php [QSA,NC,L]
RewriteRule (COUNTRIES)$ countries.php [QSA,NC,L]
RewriteRule (CHANGE_PASSWORD)$ change_password.php [QSA,NC,L]
RewriteRule (DELETE_HEALTH_REPORTS)$ health_reports_delete.php [QSA,NC,L]
RewriteRule (PHYSICAL_APPOINTMENT_DOCTORS)$ physical_appointment_doctors.php [QSA,NC,L]
RewriteRule (CONSULTATION_DETAILS)$ consultation_details.php [QSA,NC,L]
RewriteRule (VISIT_LISTS)$ visit_lists.php [QSA,NC,L]
RewriteRule (SHARE_LAB_TESTS)$ share_lab_tests.php [QSA,NC,L]
RewriteRule (SHARE_PHARMACY)$ share_pharmacy.php [QSA,NC,L]
RewriteRule (TELECONSULT_STATUS_NOTIFY)$ teleconsult_status_notify.php [QSA,NC,L]
RewriteRule (TELECONSULT_PAYMENT)$ teleconsult_make_payment.php [QSA,NC,L]
RewriteRule (USER_ADDRESS_LISTS)$ address_lists.php [QSA,NC,L]
RewriteRule (ADD_FAMILY_MEMBER)$ add_family_member.php [QSA,NC,L]
RewriteRule (BOOK_PHYSICAL_APPOINTMENT)$ book_physical_appointment.php [QSA,NC,L]
RewriteRule (DOCTOR_APPOINTMENT_DATE)$ appointment_dates.php [QSA,NC,L]
RewriteRule (DOCTOR_APPOINTMENT_TIMINGS)$ appointment_timings.php [QSA,NC,L]
RewriteRule (PHYSICAL_APPOINTMENT_DOCTOR_SEARCH)$ physical_appointment_doctor_search.php [QSA,NC,L]
RewriteRule (TELECONSULT_STATUS_CHECK)$ teleconsult_status_check.php [QSA,NC,L]
RewriteRule (PHARMA_PAYMENTS)$ pharma_payments.php [QSA,NC,L]
RewriteRule (MEDICAL_TOURISM)$ medical_tourism.php [QSA,NC,L]
RewriteRule (ORDER_HISTORY)$ order_history.php [QSA,NC,L]

RewriteRule (LABTEST_DETAILS)$ order_lab_details.php [QSA,NC,L]
RewriteRule (PHARMA_DETAILS)$ odermedicine_details.php [QSA,NC,L]

RewriteRule (HEALTH_REPORTS_LISTS)$ health_reports_lists.php [QSA,NC,L]
RewriteRule (VACCINATION_LISTS)$ vaccination_lists.php [QSA,NC,L]
RewriteRule (HEALTH_REPORTS_ADD)$ health_reports_add.php [QSA,NC,L]
RewriteRule (VACCINATION_ADULT_ADD)$ vaccination_adult_add.php [QSA,NC,L]
RewriteRule (VACCINATION_ADULT_DELETE)$ vaccination_adult_delete.php [QSA,NC,L]
RewriteRule (VACCINATION_CHILD_ADD)$ vaccination_child_add.php [QSA,NC,L]
RewriteRule (LOCAL_DOCTORS_LISTS)$ local_doctor_list.php [QSA,NC,L]
RewriteRule (GLOBAL_DOCTORS_LISTS)$ global_doctor_list.php [QSA,NC,L]
RewriteRule (DOCTORS_NEAR_ME)$ doctors_near_me.php [QSA,NC,L]

RewriteRule (FREQUENT_ORDERED_MEDICINES)$ frequent_medicines.php [QSA,NC,L]
RewriteRule (FREQUENT_LAB_TESTS)$ frequent_lab_tests.php [QSA,NC,L]
RewriteRule (MEDICINE_SEARCH)$ medicine_search.php [QSA,NC,L]
RewriteRule (LAB_TESTS_SEARCH)$ lab_test_search.php [QSA,NC,L]
RewriteRule (RESET_PASSWORD)$ reset_password.php [QSA,NC,L]

RewriteRule (PERSONALIZE_APP_QUESTIONS)$ personalize_app_questions.php [QSA,NC,L]
RewriteRule (PERSONALIZE_APP_ANSWER_SUBMIT)$ personalize_app_answer_submit.php [QSA,NC,L]

RewriteRule (APPOINTMENT_TIME_SLOT)$ appointment_time_slot.php [QSA,NC,L]

RewriteRule (EDIT_FAMILY_MEMBER)$ edit_famiy_member.php [QSA,NC,L]
RewriteRule (DELETE_FAMILY_MEMBER)$ delete_family_member.php [QSA,NC,L]

RewriteRule (HEALTH_REPORT_VISIBILITY)$ health_report_visibility.php [QSA,NC,L]
RewriteRule (DOCTOR_CHAT)$ doctor_chat.php [QSA,NC,L]
RewriteRule (SECOND_OPINION_DETAILS)$ second_opinion_details.php [QSA,NC,L]
RewriteRule (MEDICAL_TRAVEL_DETAILS)$ medical_travel_details.php [QSA,NC,L]
RewriteRule (UPDATE_PAY_STATUS)$ update_appoint_pay_status.php [QSA,NC,L]
RewriteRule (CHAT_LISTS)$ doctor_chat_lists.php [QSA,NC,L]




</IfModule>
