/*
@Author: ThemeMascot
@URL: http://ThemeMascot.com

This is the file where you can add your custom styles to change the look of the
theme. But don't modify style-main.css file.

*/

/* Your custom css codes start here: */
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:link,
{
	color:#FFFFFF;
}
.btn-link{
	background-color:#FFFFFF;
}
.contact-box {
  background-color: #ffffff;
  border: 1px solid #e7eaec;
  padding: 10px;
  margin-bottom: 20px;
  
}
.contact-box > a {
  color: inherit;
}
.contact-box.center-version {
  border: 1px solid #e7eaec;
  padding: 0;
}
.contact-box.center-version > a {
  display: block;
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
}
.contact-box.center-version > a img {
  width: 80px;
  height: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.contact-box.center-version address {
  margin-bottom: 0;
}
.contact-box .contact-box-footer {
  text-align: center;
  background-color: #ffffff;
  border-top: 1px solid #e7eaec;
  padding: 15px 20px;
}
.error-star
{
	color:#ff0000;
}
.paging span {font:italic normal 12px 'Open Sans', sans-serif; color:#666;}
.paging a {margin-left:10px; border:1px solid #8b8c8c; box-shadow:1px 0px 2px #8b8c8c; -moz-box-shadow:1px 0px 2px #8b8c8c; -webkit-box-shadow:1px 0px 1px #8b8c8c; padding:2px 5px; color:#8b8c8c}
.paging a:hover {color:#2fa0da; border-color:#2fa0da; box-shadow:1px 0px 2px #2fa0da; -moz-box-shadow:1px 0px 2px #2fa0da; -webkit-box-shadow:1px 0px 1px #2fa0da;}
.doc_paging_prev{  }
.doc_paging_prev_btn{ padding:2px 6px; border-radius:0px; background:#179dd9; color:#fff;}
.doc_paging_next{ }
.doc_paging_next_btn{ padding:2px 6px; border-radius:0px; background:#179dd9; color:#fff;}
.doc_paging a {font:normal normal 15px 'Open Sans', sans-serif; text-decoration:none; background:#179dd9; margin-left:1px; padding:0px 6px; color:#fff;}
.doc_paging a:hover {color:#fff; text-decoration:none; background:#f6891f;}
.doc_paging_hide{ font:normal normal 15px 'Open Sans', sans-serif; color:#fff; background:#f6891f; padding:0px 6px;}
.doc_paging_prev_btn:hover,.doc_paging_prev_btn:active{color:#fff; text-decoration:none;}
.wrap-fix{position:fixed;
 }
 @media(min-width:320px) and (max-width:478px) {
	.doc_paging_prev_btn{ padding:0px 3px;}
	.doc_paging_next_btn{ padding:0px 3px;}
	.doc_paging a{padding:0px 3px;}
.doc_paging_hide{padding:0px 3px;}
}

.ibox-content {
  background-color: #ffffff;
  color: inherit;
  padding: 15px 20px 20px 20px;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0;
}


.file {
  border: 1px solid #e7eaec;
  padding: 0;
  background-color: #ffffff;
  position: relative;
  margin-bottom: 20px;
  margin-right: 20px;
}