<IfModule mod_rewrite.c>
Options Indexes FollowSymLinks
RewriteEngine on


RewriteRule (LOGIN_DOC)$ login.php [QSA,NC,L]
RewriteRule (GET_STATE)$ state.php [QSA,NC,L]
RewriteRule (ADD_PARTNERS_LEAP)$ add_partner_leap.php [QSA,NC,L]
RewriteRule (CARE_PARTNER_LIST)$ carepartners_list.php [QSA,NC,L]
RewriteRule (CARE_PARTNERS_LIST_ALL)$ carepartners_list_all.php [QSA,NC,L]
RewriteRule (DOCTORS_SIGNUP)$ doctor_signup.php [QSA,NC,L]
RewriteRule (DOCTORS_FORGOT_PASSWORD)$ doctor_forgot_password.php [QSA,NC,L]
RewriteRule (PARTNER_FORGOT_PASSWORD)$ partner_forgot_password.php [QSA,NC,L]
RewriteRule (PATIENT_LIST)$ patient_list.php [QSA,NC,L]
RewriteRule (PATIENT_LIST_ALL)$ patient_list_all.php [QSA,NC,L]
RewriteRule (PATIENT_DETAILS)$ patient_details.php [QSA,NC,L]
RewriteRule (PATIENT_ATTACHMENTS)$ patient_attachments.php [QSA,NC,L]
RewriteRule (SPECIALIZATION)$ specialization.php [QSA,NC,L]
RewriteRule (CREATEPATIENT)$ patient_create.php [QSA,NC,L]
RewriteRule (CHATHISTORY)$ chat_history.php [QSA,NC,L]
RewriteRule (CHATMESSAGES)$ chat_messages.php [QSA,NC,L]
RewriteRule (DOCTOR_LIST)$ doctor_list.php [QSA,NC,L]
RewriteRule (DOCTOR_LIST_ALL)$ doctor_list_all.php [QSA,NC,L]
RewriteRule (APPOINTMENT_DETAILS)$ appointment_details.php [QSA,NC,L]
RewriteRule (SEND_APPOINTMENT)$ send_appointment.php [QSA,NC,L]
RewriteRule (PEERS_LIST)$ peers_list.php [QSA,NC,L]
RewriteRule (PEERS_LIST_ALL)$ peers_list_all.php [QSA,NC,L]
RewriteRule (APPOINTMENT_LIST)$ appointment_list.php [QSA,NC,L]
RewriteRule (APPOINTMENT_STATUS_CHANGE)$ appointment_status_change.php [QSA,NC,L]
RewriteRule (HOSPITAL_LIST)$ hospital_list.php [QSA,NC,L]
RewriteRule (HOSPITAL_LIST_ALL)$ hospital_list_all.php [QSA,NC,L]
RewriteRule (DOCTOR_SEARCH)$ doctors_search.php [QSA,NC,L]
RewriteRule (DOCTOR_PROFILE)$ doctor_profile.php [QSA,NC,L]
RewriteRule (BLOGS)$ blogs.php [QSA,NC,L]
RewriteRule (PATIENT_ATTACHMENT_UPLOADS)$ patient_attchment_upload.php [QSA,NC,L]
RewriteRule (OFFERS_EVENTS)$ offers_events.php [QSA,NC,L]
RewriteRule (PARTNER_SIGNUP)$ partner_signup.php [QSA,NC,L]
RewriteRule (PARTNER_PROFILE_UPLOAD)$ partner_profile_upload.php [QSA,NC,L]
RewriteRule (LOGIN_GCMUPDATE)$ login_gcmupdate.php [QSA,NC,L]
RewriteRule (ADD_FAVOURITE_DOCTOR)$ doctor_favourite.php [QSA,NC,L]
RewriteRule (FAVOURITE_DOCTOR_RESULT)$ favourite_doctors_list.php [QSA,NC,L]
RewriteRule (FAVOURITE_DOCTOR_UPDATE)$ favourite_doctor_update.php [QSA,NC,L]
RewriteRule (ADD_PARTNER)$ add_partner.php [QSA,NC,L]
RewriteRule (PATIENT_SEARCH)$ patient_search.php [QSA,NC,L]
RewriteRule (PATIENT_SAVE_REFER)$ patient_save_refer.php [QSA,NC,L]
RewriteRule (PATIENT_SAVE_REFER_STATUS)$ patient_save_refer_status.php [QSA,NC,L]
RewriteRule (BLOG_DETAIL_EVENT_OFFERS_VIEWS)$ blog_detail_evntoffers.php [QSA,NC,L]
RewriteRule (BLOGS_LIST)$ blogs_all.php [QSA,NC,L]
RewriteRule (UPDATE_EVENT)$ update_event.php [QSA,NC,L]
RewriteRule (PATIENT_STATUS_CHANGE)$ patient_status_change.php [QSA,NC,L]
RewriteRule (UPDATE_PASSWORD)$ update_password.php [QSA,NC,L]
RewriteRule (SIGNUP)$ new_signup_request.php [QSA,NC,L]
RewriteRule (SPEC_DOCTORS)$ specialization_doctors.php [QSA,NC,L]
RewriteRule (HOSPITAL_DOCTORS)$ hospital_doctors.php [QSA,NC,L]
RewriteRule (DOCTORS_LOGIN)$ login_doctors.php [QSA,NC,L]
RewriteRule (APPOINTMENT_RESCHEDULE)$ appointment_reschedule.php [QSA,NC,L]
RewriteRule (REASSIGN_DOCTOR)$ doctor_reassign.php [QSA,NC,L]

RewriteRule (PRACTICE_REG)$ practice_register.php [QSA,NC,L]
RewriteRule (APPLYJOB)$ apply_job.php [QSA,NC,L]
RewriteRule (SHARE_POST)$ share_link.php [QSA,NC,L]
RewriteRule (SEND_APPOINTMENT_PRACTICE)$ send_appointment_practice.php [QSA,NC,L]
RewriteRule (BLOGS_FILTER)$ blogs_filter.php [QSA,NC,L]
RewriteRule (EVENT_VIEW)$ event_details.php [QSA,NC,L]
RewriteRule (SEND_FEEDBACK)$ event_send_feedback.php [QSA,NC,L]
RewriteRule (COMMENTS_POST)$ practice_comment_post.php [QSA,NC,L]
RewriteRule (COMMENTS_POST_API)$ comment_post_api.php [QSA,NC,L]
RewriteRule (LIKE_COMMENTS)$ like_comment_api.php [QSA,NC,L]
RewriteRule (EVENT_REGISTER)$ event_register.php [QSA,NC,L]

RewriteRule (PRACTICE_DOCTOR_LIST_NEW)$ practice_doctor_list.php [QSA,NC,L]
RewriteRule (PRACTICE_DOCTOR_LIST_ALL_NEW)$ practice_doctor_list_all.php [QSA,NC,L]
RewriteRule (PRACTICE_SEND_CASE_NEW)$ practice_send_case.php [QSA,NC,L]
RewriteRule (PRACTICE_PATIENT_CREATE_NEW)$ practice_patient_create.php [QSA,NC,L]
RewriteRule (GET_PROGILE_PRACTICE)$ practice_profile_info.php [QSA,NC,L]
RewriteRule (EDIT_PROFILE_PRACTICE)$ practice_edit_profile.php [QSA,NC,L]
RewriteRule (SET_APPOINTMENT_PRACTICE)$ practice_profile_set_appointment.php [QSA,NC,L]
RewriteRule (CREATE_APPOINTMENT_PRACTICE)$ practice_create_appointment.php [QSA,NC,L]
RewriteRule (CREATE_APPOINTMENT_TIMINGS_PRACTICE)$ practice_create_appoint_timing.php [QSA,NC,L]
RewriteRule (CREATE_APPOINTMENT_SUBMIT_PRACTICE)$ practice_create_appointment_submit.php [QSA,NC,L]
RewriteRule (DELETE_APPOINTMENT_PRACTICE)$ practice_delete_appointment.php [QSA,NC,L]
RewriteRule (MY_PATIENT_TEMPLATES_PRACTICE)$ practice_mypatient_templates.php [QSA,NC,L]
RewriteRule (MY_PATIENT_LIST_PRACTICE)$ practice_mypatient_list.php [QSA,NC,L]
RewriteRule (MY_PATIENT_CREATE_PRACTICE)$ practice_mypatient_create.php [QSA,NC,L]
RewriteRule (BOOK_APPOINTMENT)$ patient_book_appointment.php [QSA,NC,L]
RewriteRule (DOCTORS_APPOINTMENT_BOOK)$ doctor_book_appointment.php [QSA,NC,L]
RewriteRule (MY_PATIENT_TEMPLATE_PRACTICE)$ template_details_practice.php [QSA,NC,L]
RewriteRule (MY_PATIENT_TEMPLATE_SAVE_PRACTICE)$ mypatient_template_save_practice.php [QSA,NC,L]
RewriteRule (MY_PATIENT_EPISODE_LIST_PRACTICE)$ mypatient_episode_list.php [QSA,NC,L]
RewriteRule (MY_PATIENT_PRESCRIPTION_LIST_PRACTICE)$ mypatient_prescription_list.php [QSA,NC,L]
RewriteRule (MY_PATIENT_ADD_EPISODE)$ mypatient_add_episode.php [QSA,NC,L]

RewriteRule (PATIENT_LIST_PREMIUM)$ patient_list_prem.php [QSA,NC,L]
RewriteRule (PATIENT_LIST_ALL_PREMIUM)$ patient_list_all_prem.php [QSA,NC,L]
RewriteRule (MY_PATIENT_TEMPLATE_PREM)$ template_details_prem.php [QSA,NC,L]
RewriteRule (MY_PATIENT_TEMPLATE_SAVE_PREM)$ mypatient_template_save_prem.php [QSA,NC,L]
RewriteRule (MY_PATIENT_CREATE_PREM)$ mypatient_create_prem.php [QSA,NC,L]
RewriteRule (MY_PATIENT_PRESCRIPTION_LIST_PREM)$ mypatient_prescription_list_prem.php [QSA,NC,L]
RewriteRule (MY_PATIENT_EPISODE_LIST_PREM)$ mypatient_episode_list_prem.php [QSA,NC,L]
RewriteRule (MY_PATIENT_ADD_EPISODE_PREM)$ mypatient_add_episode_prem.php [QSA,NC,L]

RewriteRule (DOCTOR_LIST_NEW_PREM)$ doctors_list_prem.php [QSA,NC,L]
RewriteRule (DOCTOR_LIST_ALL_NEW_PREM)$ doctor_list_all_prem.php [QSA,NC,L]
RewriteRule (APPLYJOB_PREM)$ apply_job_prem.php [QSA,NC,L]

RewriteRule (GET_PROFILE_PREM)$ profile_info_prem.php [QSA,NC,L]
RewriteRule (SET_APPOINTMENT_PREM)$ profile_set_appointment_prem.php [QSA,NC,L]
RewriteRule (EDIT_PROFILE_PREM)$ edit_profile_prem.php [QSA,NC,L]

RewriteRule (CREATE_APPOINTMENT_PREM)$ create_appointment_prem.php [QSA,NC,L]
RewriteRule (CREATE_APPOINTMENT_TIMINGS_PREM)$ create_appoint_timing_prem.php [QSA,NC,L]
RewriteRule (CREATE_APPOINTMENT_SUBMIT_PREM)$ create_appointment_submit_prem.php [QSA,NC,L]
RewriteRule (DELETE_APPOINTMENT_PREM)$ appointment_delete_prem.php [QSA,NC,L]

RewriteRule (PATIENT_SEND_CASE_PREM)$ patient_sendcase_prem.php [QSA,NC,L]
RewriteRule (FEEDBACK_SEND_PREM)$ feedbak_send_prem.php [QSA,NC,L]
RewriteRule (SUPPORT_SEND_PREM)$ support_send_prem.php [QSA,NC,L]

RewriteRule (APPOINTMENT_FILTERS)$ appointment_filter.php [QSA,NC,L]
RewriteRule (FEEDS_LIST_API)$ feeds_list_api.php [QSA,NC,L]

RewriteRule (MYPATIENT_ATTACHMENTS_LIST)$ mypatient_attachments.php [QSA,NC,L]

RewriteRule (DRS_ADD_CAREPARTNERS_PREM)$ add_carepartner_prem.php [QSA,NC,L]
RewriteRule (DRS_CAREPARTNERS_LIST_PREM)$ carepartner_list_prem.php [QSA,NC,L]
RewriteRule (DRS_CAREPARTNERS_LIST_ALL_PREM)$ carepartner_list_all_prem.php [QSA,NC,L]
RewriteRule (APPOINTMENTS_SEARCH)$ appointment_search.php [QSA,NC,L]
RewriteRule (MYPATIENTS_SEARCH)$ mypatients_search.php [QSA,NC,L]
RewriteRule (MYPATIENT_ATTACHMENTS_LIST_PRACTICE)$ mypatient_attachments_practice.php [QSA,NC,L]
RewriteRule (GET_COUNT_ALL)$ get_count.php [QSA,NC,L]
RewriteRule (MYPATIENT_FILTERS)$ mypatient_filter.php [QSA,NC,L]

RewriteRule (MY_PATIENTS_CREATE)$ mypatient_create.php [QSA,NC,L]
RewriteRule (MY_PATIENTS_CREATE_MEMBER)$ mypatient_create_member.php [QSA,NC,L]
RewriteRule (MY_PATIENT_UPDATE_DETAILS)$ mypatient_details_update.php [QSA,NC,L]
RewriteRule (MY_PATIENT_MEDICAL_HISTORY)$ mypatient_medical_history.php [QSA,NC,L]
RewriteRule (MY_PATIENT_ADD_TRENDS)$ trends_add.php [QSA,NC,L]
RewriteRule (MY_PATIENT_TRENDS_LIST)$ trends_list.php [QSA,NC,L]
RewriteRule (MY_PATIENT_ADD_VISIT)$ add_episode.php [QSA,NC,L]
RewriteRule (MYPATIENT_EPISODE_LIST)$ episode_list.php [QSA,NC,L]

RewriteRule (DIAGNOSTICS_LIST)$ diagnostics_list.php [QSA,NC,L]
RewriteRule (DIAGNOSTICS_REFER)$ diagnostic_referal.php [QSA,NC,L]

RewriteRule (PHARMA_LIST)$ pharma_list.php [QSA,NC,L]
RewriteRule (PHARMA_REFER)$ pharma_referal.php [QSA,NC,L]


RewriteRule (CHIEF_MEDICAL_COMPLAINT_LIST)$ chief_medcomplaint_list.php [QSA,NC,L]
RewriteRule (INVESTIGATIONS_LIST)$ investigations_list.php [QSA,NC,L]
RewriteRule (EXAMINATION_LIST)$ examination_list.php [QSA,NC,L]
RewriteRule (DIAGNOSIS_FREQUENT_LIST)$ diagnosis_frequent_list.php [QSA,NC,L]
RewriteRule (DIAGNOSIS_SEARCH)$ diagnosis_search.php [QSA,NC,L]
RewriteRule (TREATMENT_LIST)$ treatment_list.php [QSA,NC,L]
RewriteRule (PRESCRIPTION_FREQUENT_LIST)$ prescription_frequent_list.php [QSA,NC,L]
RewriteRule (PTRESCRIPTION_SEARCH)$ prescription_search.php [QSA,NC,L]
RewriteRule (PATIENT_ADD_VISIT)$ add_visit.php [QSA,NC,L]

RewriteRule (DRUG_ALLEGY_FREQUENT_LIST)$ drug_allery_frequent_list.php [QSA,NC,L]
RewriteRule (DRUG_ALLERGY_SEARCH)$ drug_allergy_search.php [QSA,NC,L]
RewriteRule (DRUG_ABUSE_FREQUENT_LIST)$ drug_abuse_frequent_list.php [QSA,NC,L]
RewriteRule (FAMILY_HISTORY_FREQUENT_LIST)$ family_history_frequent_list.php [QSA,NC,L]
RewriteRule (PATIENT_MEDICAL_HISTORY_UPDATE)$ medical_history_update.php [QSA,NC,L]

RewriteRule (MYPATIENT_OLD_VISIT_LIST)$ old_visits_list.php [QSA,NC,L]
RewriteRule (MYPATIENT_UPDATE_INVESTIGATIONS)$ investigations_update.php [QSA,NC,L]
RewriteRule (DIAGNOSTICS_ADD)$ diagnostic_center_add.php [QSA,NC,L]
RewriteRule (PHARMA_ADD)$ pharma_add.php [QSA,NC,L]
RewriteRule (SEND_PRESCRIPTION)$ prescription_send.php [QSA,NC,L]

RewriteRule (MYPATIENT_REPORTS)$ visit_reports_list.php [QSA,NC,L]
RewriteRule (MYPATIENT_UPLOAD_REPORTS)$ report_uploads.php [QSA,NC,L]
RewriteRule (PATIENT_EDIT_VISIT)$ edit_visit.php [QSA,NC,L]
RewriteRule (MEDICAL_HISTORY_DETAILS)$ medical_history_details.php [QSA,NC,L]

RewriteRule (EDIT_PROFILE_DETAILS)$ profile_details.php [QSA,NC,L]
RewriteRule (EDIT_PROFILE_UPDATES)$ profile_update.php [QSA,NC,L]

RewriteRule (ADD_HOSPITAL)$ hospital_add.php [QSA,NC,L]

RewriteRule (APPOINTMENT_SLOT_LIST)$ appointment_slot_list.php [QSA,NC,L]
RewriteRule (SET_APPOINTMENT_SLOTS)$ appointment_slot_set.php [QSA,NC,L]
RewriteRule (SET_HOLIDAYS)$ appointment_holiday_set.php [QSA,NC,L]
RewriteRule (CANCEL_HOLIDAYS)$ appointment_holiday_cancel.php [QSA,NC,L]

RewriteRule (APPOINT_SEARCH_PATIENT)$ appoint_search_patient.php [QSA,NC,L]
RewriteRule (APPOINT_DETAILS_PATIENT)$ appoint_detail_patient.php [QSA,NC,L]
RewriteRule (APPOINT_TIMINGS)$ appoint_timings.php [QSA,NC,L]
RewriteRule (APPOINT_BOOK)$ appoint_book.php [QSA,NC,L]
RewriteRule (APPOINT_LIST)$ appoint_list.php [QSA,NC,L]
RewriteRule (APPOINT_STATUS)$ appoint_status_change.php [QSA,NC,L]
RewriteRule (APPOINT_FILTER)$ appoint_filter.php [QSA,NC,L]
RewriteRule (APPOINT_RESCHEDULE)$ appoint_reschedule.php [QSA,NC,L]

RewriteRule (EMR_LIST)$ emr_list.php [QSA,NC,L]
RewriteRule (RECEPTIONIST_UPDATE)$ receptionist_update.php [QSA,NC,L]
RewriteRule (OTHER_SETTINGS_UPDATE)$ other_settings_update.php [QSA,NC,L]
RewriteRule (OTHER_SETTINGS_LIST)$ other_settings_list.php [QSA,NC,L]

RewriteRule (SETTINGS_HOSP_LIST)$ settings_hospital_list.php [QSA,NC,L]
RewriteRule (SETTINGS_HOSP_UPDATE)$ settings_hospital_update.php [QSA,NC,L]

RewriteRule (ADD_VISIT_OPHTHAL)$ add_visit_ophthal.php [QSA,NC,L]
RewriteRule (LIDS_LIST)$ lids_list.php [QSA,NC,L]
RewriteRule (CONJUCTIVA_LIST)$ conjuctiva_list.php [QSA,NC,L]
RewriteRule (SCLERA__LIST)$ sclera_list.php [QSA,NC,L]
RewriteRule (CORNEA_ANTERIOR_LIST)$ cornea_anterior_surface_list.php [QSA,NC,L]
RewriteRule (CORNEA_POSTERIOR_LIST)$ cornea_posterior_surface_list.php [QSA,NC,L]
RewriteRule (ANTERIOR_CHAMBER_LIST)$ anterior_chamber.php [QSA,NC,L]
RewriteRule (IRIS_LIST)$ iris_list.php [QSA,NC,L]
RewriteRule (PUPIL_LIST)$ pupil_list.php [QSA,NC,L]
RewriteRule (ANGLE_LIST)$ angle_anterior_chamber_list.php [QSA,NC,L]
RewriteRule (LENS_LIST)$ lens_list.php [QSA,NC,L]
RewriteRule (VITEROUS_LIST)$ viterous_list.php [QSA,NC,L]
RewriteRule (FUNDUS_LIST)$ fundus_list.php [QSA,NC,L]
RewriteRule (OLD_VISIT_OPHTHAL_LIST)$ old_visits_ophthal.php [QSA,NC,L]
RewriteRule (EDIT_VISIT_OPHTHAL)$ edit_visit_ophthal.php [QSA,NC,L]
RewriteRule (OPTHAL_TRENDS_LIST)$ trends_list_ophthal.php [QSA,NC,L]
RewriteRule (OPHTHAL_ADD_TRENDS)$ trends_add_ophthal.php [QSA,NC,L]

RewriteRule (VIDEO_CALL_LIST)$ video_call_list.php [QSA,NC,L]
RewriteRule (VIDEO_CALL_LIST_ALL)$ video_call_list_all.php [QSA,NC,L]
RewriteRule (FIREBASE_TOKEN_UPDATE)$ firebase_token_update.php [QSA,NC,L]
RewriteRule (TELECONSULT_NOTIFY_UPDATE)$ teleconsult_notify_update.php [QSA,NC,L]
RewriteRule (TELECONSULT_NOTIFY_PAYMENTS)$ teleconsult_notify_payments.php [QSA,NC,L]
RewriteRule (WAITING_ROOM_DETAILS)$ waiting_room_details.php [QSA,NC,L]

</IfModule>





